<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <%- include('common/header'); %>
    <h1>Home Page</h1>
    <a href="http://localhost:20000/views/lang.ejs">help</a>
</body>
</html>